.footer-container {
    text-align: center;
    background: #192538;
    width: 100%;
    margin-top: 2rem;
    max-width: 100%;
    .logo {
        width: 40%;
    }
    .content-container {
        @include flex(center,center,10rem,row);
        padding: 6rem;
        margin-right: 5rem;
        h1 {
            @include font(($primaryFont,$backupFont),2rem);
            color: white;
        }
        .container-2 {
            .contact {
                @include flex(center,center,2rem,row);
                .contacticon {
                    transition: 150ms ease-in;
                    &:hover {
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }
    .copyright {
        @include flex(center,center,1rem,row);
        h1 {
            @include font(($primaryFont,$backupFont),1.5rem);
            color: white;
        }
    }
}