.faq-container {
    @include font(($primaryFont,$backupFont),3rem);
    max-width: 70%;
    margin: 2rem auto;
    text-align: center;
    .question-container {
        @include border(1px,solid,$red,10px);
        padding-block: 2rem;
        margin-top: 2rem;
        .question {
            @include flex(space-between,center,4rem,row);
            @include font(($secondaryFont,$backupFont),1.5rem);
            padding-inline: 2rem;
            color: $red;
        }
        .answer {
            @include font(($secondaryFont,$backupFont),1.25rem);
            margin-top: 1.75rem;
            padding-inline: 2rem;
            text-align: start;
            transition: all 1s cubic-bezier(1,0,1,0);
            display: block;
            color: $red;
        }
        .noanswer {
            @include font(($secondaryFont,$backupFont),1.25rem);
            margin-top: 1.75rem;
            padding-inline: 2rem;
            text-align: start;
            transition: all 1s cubic-bezier(0,1,0,1);
            display: none;
            color: $red;
        }
    }
}
