main  {
    width: 70%;
    margin: auto;
    text-align: center;
}
.welcomehero {
    background-image: linear-gradient($firstgray,$red), url(../../assets/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: relative;
    filter: drop-shadow(8px 8px 10px gray);
    .welcomehero-text {
        padding-top: 5rem;
        max-width: 60%;
        margin: auto;
        z-index: 999;
        h1 {
            @include font(($primaryFont,$backupFont),2.5rem);
            @include textdeco();
            text-align: center
        }
        p {
            @include font(($primaryFont,$backupFont),1.5rem);
            @include textdeco();
            margin-top: 2rem;
            text-align: center
        }
        
       
    }
    .heroposters {
        position: absolute;
        left: 0;
        top: 0;
        @include flex(center,center,2.5rem,row);
        flex-wrap: wrap;
        opacity: 0.5;
        z-index: -898;
        padding: 0.1rem;
        img {
            width: 100px;
        }
    }
}
