@import "./Sass/variables";
@import "./Sass/mixins";
@import "./Sasscomponents/GuestHome/hero";
@import "./index.css";
@import "./Sasscomponents/GuestHome/navbar";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: #D3D6DB;
}


